$black_262626: #262626;

html {
  border: 0;
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: rgba(255, 255, 255, .9);
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: block;
  box-sizing: border-box;
  background: rgba(205, 220, 255, .25);

  .row {
    margin: 0 auto 0 auto;
  }

  h4 {
    font-style: italic;
    margin: 0;
    padding: 0 0 calc(.25*1em) calc(.125*1em);
  }
}

nav {
  display: block;
  box-sizing: border-box;

  .sidenav-trigger {
    float: right;
  }
}

main {
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: .5em;
}

p {
  box-sizing: border-box;
  display: block;
  font-size: calc(1.2*1em);
  margin: 0 auto;
}

.header-box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: calc(3.998em * .9);
  margin: 0 0 .1em 0;
}

.h1 {
  font-size: calc(3.998em * .9);
  margin: 0 0 .1em 0;
}

h2 {
  font-size: 2.827em;
  margin: 0 0 .1em 0;
}

.h2 {
  font-size: 2.827em;
  margin: 0 0 .1em 0;
}

h3 {
  font-size: 1.999em;
  margin: 0 0 .2em 0;
}

.h3 {
  font-size: 1.999em;
  margin: 0 0 .2em 0;
}

h4 {
  font-size: 1.414em;
  margin: 0 0 .2em 0;
}

.h4 {
  font-size: 1.414em;
  margin: 0 0 .2em 0;
}

section {
  background: rgba(211, 211, 211, .5);
  margin: 0 auto;
  padding: calc(.25*1em);
}

article {
  margin: calc(.25*1em);
  padding: calc(.25*1em);
}

aside {
  font-size: .707em;
}

footer {
  font-size: .5em;
}

.p-break {
  word-break: break-all;
  word-wrap: break-word;
}

.sidenav {
  li {
    i {
      display: block;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }
  }
}

pre {
  font-size: calc(1.2*1em);
}

code {
  font-size: calc(.9*1em);
}

pre[class*="language-"] {
  background: $black_262626;
  border: .15em solid rgba(179, 179, 179, .9);
  padding: .25em;
  margin: 0 auto;
  overflow-x: auto;

  &:hover {
    border: .15em solid rgba(230, 230, 230, .9);
  }
}

:not(pre) {
  >code[class*="language-"] {
    background: $black_262626;
    border: .15em solid rgba(179, 179, 179, .9);
    padding: .25em;
  }
}

@media (min-width: 36em) {
  .container {
    width: 75%;
  }
}

@media (min-width: 62em) {
  .container {
    width: 60%;
  }
}

@media (max-width: 35.99875em) {
  .container {
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  h1 {
    font-size: calc(3.998em * .8);
  }

  .h1 {
    font-size: calc(3.998em * .8);
  }
}
