html {
  border: 0;
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0 .5em;
  width: 100%;
}

body {
  background: rgba(255, 255, 255, .9);
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0 .5em;
  width: 100%;
}

p {
  box-sizing: border-box;
  display: block;
}
