<nav class="indigo lighten-5 waves-effect waves-purple waves-light" role="navigation">
  <div class="nav-wrapper container">
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="indigo-text text-darken-5 material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" id="mobile-state">
      {% include nav-liquid.html %}
    </ul>
    <ul class="sidenav" id="nav-mobile">

      <li><i class="indigo-text text-darken-5 material-icons">navigation</i></li>
      <li></li>
      {% include nav-liquid.html %}
    </ul>
  </div>
</nav>
