<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large indigo lighten-5 waves-effect waves-purple waves-light">
    <i class="material-icons indigo-text text-darken-5">expand_less</i>
  </a>
  <ul class="waves-effect waves-purple waves-light">
    <li>
      <a class="btn-floating black lighten-5 waves-effect waves-purple waves-light" href="#footer">
        <i class="material-icons">vertical_align_bottom</i>
      </a>
    </li>
    <li>
      <a class=" indigo-text text-darken-5 btn-floating indigo lighten-4 waves-effect waves-purple waves-light" href="{{ "/readme" | relative_url }}">
        <i class="material-icons">help_outline</i>
      </a>
    </li>
    <li>
      <a class="btn-floating indigo lighten-3 waves-effect waves-purple waves-light" href="{{ "/work" | relative_url }}">
        <i class="material-icons">work_outline</i>
      </a>
    </li>
    <li>
      <a class="btn-floating indigo lighten-2 waves-effect waves-purple waves-light" href="{{ "/blog" | relative_url }}">
        <i class="material-icons">notes</i>
      </a>
    </li>
    <li>
      <a class="btn-floating indigo lighten-1 waves-effect waves-purple waves-light" href="{{ "/about" | relative_url }}">
        <i class="material-icons">info_outline</i>
      </a>
    </li>
    <li>
      <a class="btn-floating indigo waves-effect waves-purple waves-light" href="#top">
        <i class="material-icons">vertical_align_top</i>
      </a>
    </li>
  </ul>
</div>
