<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% include html_head.html %}
</head>

<body>

  {% include header.html %}
  {% include navigation.html %}
  {{ content }}

  <footer>
    {% include footer.html %}
  </footer>

  <!-- javascript -->
  <!-- <script src="{{ site.url }}assets/vendor/js/jquery.min.js"></script> -->
  <!-- {{ "/assets/vendor/js/jquery.min.js" | relative_url }} -->
  <!-- <script src="{{ site.url }}assets/vendor/js/bootstrap.min.js"></script> -->
  <!-- {{ "/assets/vendor/js/bootstrap.min.js" | relative_url }} -->
  <script src="{{ site.url }}/assets/vendor/js/materialize.min.js"></script>
  <script src="{{ site.url }}/assets/js/init.min.js"></script>
  <script src="{{ site.url }}/assets/js/prism.min.js"></script>
  <!-- {{ "/assets/js/prism.min.js" | relative_url }} -->
  <script src="{{ site.url }}/assets/js/script.js"></script>
  <!-- {{ "/assets/js/script.js" | relative_url }} -->
</body>

</html>
