<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% include html_head.html %}
</head>

<body>

  {% include header.html %}
  {% include navigation.html %}
  {{ content }}

  <div class="revision justify-content-center container">
    <div class="text-center">{% include license.html %} &bull; <a href="#">Colophon</a> &bull; <a href="https://github.com/otherness-space/spring-demo-materialize-scss/commits/master/{{ page.path }}" title="version history on GitHub">Revision
        history for this page</a>
      <!-- The idea for a revision history link lifted shamelessly from https://github.com/ricedh/drafts -->
    </div>
  </div>

  <!-- javascript -->
  <!-- <script src="{{ site.url }}assets/vendor/js/jquery.min.js"></script> -->
  <!-- {{ "/assets/vendor/js/jquery.min.js" | relative_url }} -->
  <!-- <script src="{{ site.url }}assets/vendor/js/bootstrap.min.js"></script> -->
  <!-- {{ "/assets/vendor/js/bootstrap.min.js" | relative_url }} -->
  <script src="{{ site.url }}/assets/vendor/js/materialize.min.js"></script>
  <script src="{{ site.url }}/assets/js/init.min.js"></script>
  <script src="{{ site.url }}/assets/js/prism.min.js"></script>
  <!-- {{ "/assets/js/prism.min.js" | relative_url }} -->
  <script src="{{ site.url }}/assets/js/script.js"></script>
  <!-- {{ "/assets/js/script.js" | relative_url }} -->
</body>

</html>
